@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

.row1{
    text-align: center;
    padding-top: 20px;
    font-size: 50px;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    line-height: 70px;
    padding-bottom: 10px;
}

.row-1{
    padding-top: 20px;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}
  
.row-1 .col-2{
    flex-basis: 50%;
    min-width: 550px;
}

.row-1 .col-2 h1{
    padding-bottom: 10px;
}